body{
	margin: 0px;
	padding: 0px;
}
h2{
	color: #FFF;
	overflow: hidden;
	margin: 0px;
	padding: 5px 5px 5px 15px;
	float: left;
	position: absolute;
	font-family: cursive;
	
}
#banner{
	margin: 0px;
	padding: 0px;
}
#banner img{
	width: 100%;
	height: 400px;
}